/src/P23.MetaTrader4.Manager.ClrWrapper/Debug
/src/P23.MetaTrader4.Manager.Contracts/obj
/src/P23.MetaTrader4.Manager.Contracts/bin
/src/P23.MetaTrader4.Manager.Tests/bin
/src/P23.MetaTrader4.Manager.Tests/obj
Release
/src/P23.MetaTrader4.Manager.ClrWrapper/P23.MetaTrader4.Manager.ClrWrapper.sdf
Libraries/mtmanapi/logs/*.log
symbols.raw
symgroups.raw
logs
news
/src/P23.MetaTrader4.Manager.ClrWrapper/P23.MetaTrader4.Manager.ClrWrapper.v12.suo
ipch
obj
bin
/src/P23.MetaTrader4.Manager.ClrWrapper/*.user
/src/.vs/P23.MetaTrader4.Manager/v14/.suo
/src/P23.MetaTrader4.Manager.opensdf
/src/Debug
/src/P23.MetaTrader4.Manager.sdf
/src/P23.MetaTrader4.Manager.Tests/credentials.config
/src/P23.MetaTrader4.Manager.Contracts/signkey.pfx
/src/P23.MetaTrader4.Manager.ClrWrapper/signkey.snk
*.opendb