/src/Solutions/P23.MetaTrader4.Manager.opensdf
/src/Solutions/P23.MetaTrader4.Manager.sdf
/src/Solutions/P23.MetaTrader4.Manager.v12.suo
/src/Solutions/Debug
/src/Solutions/ipch
/src/Solutions/MetaTrader4.Manager.sdf
/src/Solutions/MetaTrader4.Manager.v12.suo
/src/Projects/P23.MetaTrader4.Manager.ClrWrapper/Debug
/src/Projects/P23.MetaTrader4.Manager.Contracts/obj
/src/Projects/P23.MetaTrader4.Manager.Contracts/bin
/src/Projects/P23.MetaTrader4.Manager.Tests/bin
/src/Projects/P23.MetaTrader4.Manager.Tests/obj
Release
