/src/Solutions/P23.MetaTrader4.Manager.opensdf
/src/Solutions/P23.MetaTrader4.Manager.sdf
/src/Solutions/P23.MetaTrader4.Manager.v12.suo
/src/Solutions/Debug
/src/Solutions/ipch
/src/Solutions/MetaTrader4.Manager.sdf
/src/Solutions/MetaTrader4.Manager.v12.suo
/src/Projects/P23.MetaTrader4.Manager.ClrWrapper/Debug
/src/Projects/P23.MetaTrader4.Manager.Contracts/obj
/src/Projects/P23.MetaTrader4.Manager.Contracts/bin
/src/Projects/P23.MetaTrader4.Manager.Tests/bin
/src/Projects/P23.MetaTrader4.Manager.Tests/obj
Release
/src/Projects/P23.MetaTrader4.Manager.ClrWrapper/P23.MetaTrader4.Manager.ClrWrapper.sdf
/src/Libraries/mtmanapi/logs/*.log
symbols.raw
symgroups.raw
logs
news
/src/Projects/P23.MetaTrader4.Manager.ClrWrapper/P23.MetaTrader4.Manager.ClrWrapper.v12.suo
ipch
/src/Solutions/.vs/P23.MetaTrader4.Manager/v14/*.suo
obj
bin
/src/Projects/P23.MetaTrader4.Manager.ClrWrapper/*.user
/src/Projects/.vs/P23.MetaTrader4.Manager/v14/.suo
/src/Projects/P23.MetaTrader4.Manager.opensdf
/src/Projects/Debug
/src/Projects/P23.MetaTrader4.Manager.sdf
/src/Projects/P23.MetaTrader4.Manager.Tests/credentials.config
/src/Projects/P23.MetaTrader4.Manager.Contracts/signkey.pfx
/src/projects/P23.MetaTrader4.Manager.ClrWrapper/signkey.snk
